/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}


/* Cabeçalho */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw; /* Ocupa a largura total da tela */
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixa no topo da tela */
  top: 0;
  left: 0;
  z-index: 1000; /* Fica acima de outros elementos */
}

.navigation ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navigation a:hover {
  color: #007bff;
}

.header-actions .login-button {
  padding: 0.8rem 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.header-actions .login-button:hover {
  background-color: #007bff;
  transform: translateY(-2px);
}

/* Títulos */
.titulo-produto {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}

/* Containers */
.produtos-container {
  padding: 2rem;
  margin: 1.5rem;
  width: 90%;
  max-width: 1200px;
  background-color: #192638;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.produtos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.produto-item {
  background-color: #2f2f2f;
  border: 1px solid #33527d;
  border-radius: 2px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.produto-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(123, 0, 255);
}

.container-imagem {
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.container-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produto-nome {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0.5rem 0;
  font-weight: bold;
}

.produto-preco {
  font-size: 1.3rem;
  font-weight: bold;
  color: #00af00;
  margin-bottom: 1rem;
}

.produto-descricao {
  font-size: 1rem;
  color: #949494;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.botao-comprar {
  padding: 0.8rem;
  background-color: #4050ff ;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.botao-comprar:hover {
  background-color: #2733b6;
  transform: translateY(-2px);
}

/* Botão Geral */
.botao-cadastrar {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.8rem 1.2rem;
  background-color: #4050ff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.botao-cadastrar:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 768px) {
  .produto-item {
    width: calc(100% - 2rem);
  }

  .site-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation ul {
    flex-direction: column;
    gap: 1rem;
  }
}




/* CSS Cadastrar Produto*/

/* Container geral */
.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupa toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Cor de fundo clara */
  overflow: hidden;
}

/* Container para o conteúdo do formulário */
.form-container {
  background-color: white; /* Fundo branco para o formulário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 100%;
  max-width: 500px; /* Largura máxima do formulário */
  text-align: center;
}

/* Título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Estilo dos campos de entrada */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Foco nos campos de entrada */
input:focus {
  outline: none;
  border-color: #4050ff;
}

/* Estilo do botão de envio */
input[type="submit"] {
  background-color: #4050ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2733b6;
  transform: translateY(-3px);
}

/* Estilo de placeholders nos campos de entrada */
input::placeholder {
  color: #888;
  font-style: italic;
}