@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root {
  --primary-color: #b9731d; /* Verde principal */
  --secondary-color: #121212; /* Fundo principal */
  --card-bg: #181818; /* Fundo dos cards */
  --text-color: #ffffff; /* Texto principal */
  --text-muted: #b3b3b3; /* Texto secundário */
  --highlight-color: #d7871e; /* Verde de destaque */
  --shadow-color: rgba(0, 0, 0, 0.7);
  --border-radius: 12px;
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
}

/* Geral */
#root {
  margin: 0 auto;
  max-width: 5000px;
  padding: 20px;
  text-align: left;
}

/* Logo */
.logo {
  height: 8em;
  margin: 20px auto;
  padding: 1em;
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.3s ease;
}
.logo:hover {
  transform: rotate(5deg) scale(1.1);
  filter: drop-shadow(0 0 20px var(--primary-color));
}

/* Card genérico */
.card {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px var(--shadow-color);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px var(--shadow-color);
}

/* Exercícios */
.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.produto-item {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px var(--shadow-color);
  padding: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  color: var(--text-muted);
}
.produto-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px var(--shadow-color);
  color: var(--text-color);
}

.produto-item img {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.container-exercicios h1 {
  font-size: 2.5em;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
